<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <intercept-url pattern="/" access="isAnonymous()"/>

        <intercept-url pattern="/admins" access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/organizations" access="hasRole('ROLE_ROOT')"/>
        <intercept-url pattern="/users" access="hasAnyRole('ROLE_ROOT', 'ROLE_ADMIN')"/>
        <intercept-url pattern="/products" access="hasRole('ROLE_OPERATOR')"/>
        <intercept-url pattern="/clients" access="hasRole('ROLE_OPERATOR')"/>
        <intercept-url pattern="/pc" access="hasRole('ROLE_OPERATOR')"/>
        <intercept-url pattern="/prices" access="hasRole('ROLE_OPERATOR')"/>
        <intercept-url pattern="/productions" access="hasRole('ROLE_OPERATOR')"/>
        <intercept-url pattern="/contracts" access="hasRole('ROLE_OPERATOR')"/>
        <intercept-url pattern="/orders" access="hasRole('ROLE_AGENT')"/>

        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login login-page="/" default-target-url="/start"
                    authentication-failure-url="/?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/"/>
        <csrf disabled="true"/>
    </http>

    <!--<beans:bean class="ru.javawebinar.topjava.util.PasswordUtil" id="passwordEncoder" factory-method="getPasswordEncoder"/>-->

    <authentication-manager>
        <authentication-provider user-service-ref="securityService">
            <!--<password-encoder ref="passwordEncoder"/>-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>