<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <intercept-url pattern="/" access="isAnonymous()"/>

        <intercept-url pattern="/users" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login login-page="/" default-target-url="/start"
                    authentication-failure-url="/?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/"/>
        <csrf disabled="true"/>
    </http>

    <!--<beans:bean class="ru.javawebinar.topjava.util.PasswordUtil" id="passwordEncoder" factory-method="getPasswordEncoder"/>-->

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
        <!--<authentication-provider>-->
            <!--<password-encoder ref="passwordEncoder"/>-->
            <!--<jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT name, password FROM users WHERE name = ?"
                               authorities-by-username-query="SELECT u.name, r.role FROM users u, user_roles r WHERE u.id = r.user_id AND u.name = ?"
            />-->
            <!--<jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT name, password FROM admins WHERE name = ?"
                               authorities-by-username-query="SELECT name, role FROM admins WHERE name = ?"
            />-->
                        <!--<user-service>-->
                            <!--<user name="root" password="123" authorities="ROLE_ROOT"/>-->
                            <!--<user name="admin" password="123" authorities="ROLE_ADMIN"/>-->
                            <!--<user name="operator" password="123" authorities="ROLE_OPERATOR"/>-->
                            <!--<user name="agent" password="123" authorities="ROLE_AGENT"/>-->
                        <!--</user-service>-->
        </authentication-provider>
    </authentication-manager>
</beans:beans>